/* General */
* {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

/* Components */
/* Header */
#header {
    background-image: url('./assets/images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15%;
}

/* Content */

/* Landing Page */
#landingPage {
    position: fixed;
    top: 10%;
}

form {
    width: 100%;
}

#inputDiv {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    background: lightgray;
	padding: 45px 45px 45px 45px;
	background:
        linear-gradient(#1339A2, #1339A2) top left / 70px 10px,
        linear-gradient(#1339A2, #1339A2) left top / 10px 70px,
        linear-gradient(#1339A2, #1339A2) bottom right / 70px 10px,
        linear-gradient(#1339A2, #1339A2) right bottom / 10px 70px,
		linear-gradient(#1339A2, #1339A2) bottom left / 70px 10px,
		linear-gradient(#1339A2, #1339A2) bottom left / 10px 70px,
		linear-gradient(#1339A2, #1339A2) top right / 70px 10px,
		linear-gradient(#1339A2, #1339A2) top right / 10px 70px;
	background-repeat: no-repeat;
}

#inputDiv h2 {
    width: 100%;
    margin-top: 0;
}

#inputDiv button {
    background-color: #1339A2;
    margin-top: 1em;
}

#inputDiv button:disabled,
#inputDiv button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

#recap {
    margin: 1rem 0;
    width: 100%;
}

.instructionsContainer {
    margin-top: 3em;
}

.instructionsDiv {
    width: 90%;
}

.instructionsDiv > h2 {
    font-size: 1.5vw;
}

ol {list-style: none; counter-reset: li}

ol li::before {content: counter(li); color: #1339A2;
    display: inline-block; width: 1em; margin-left: -1.5em;
    margin-right: 0.5em; text-align: right; direction: rtl}

li::before {content: counter(li); color: #1339A2;
    display: inline-block; width: 1em;
    margin-left: -1em}

li {
    counter-increment: li;
    line-height: 1.5em;
    font-size: 1.1vw;
}

/* li {
    line-height: 1.5em;
    font-size: 1vw;
} */

#appInput {
    width: 100%;
    height: 5vh;
}

::-webkit-input-placeholder {
    text-align: center;
  }

#errorMessage {
    color: red;
    display: none;
    margin-bottom: 0;
}

/* Information */
#paymentOptions {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 1rem;
}
#paymentOptions h2{
    width: 100%;
}
#paymentOptions button {
    margin: 1em;
    background-color: #1339A2;
}

#paymentContainer {
    width: 70%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.partial-border {
	flex: 0 0;
	width: 30%;
	background: lightgray;
	padding: 25px;
	background:
        linear-gradient(#1339A2, #1339A2) top left / 100px 10px,
        linear-gradient(#1339A2, #1339A2) left top / 10px 100px,
        linear-gradient(#1339A2, #1339A2) bottom right / 100px 10px,
        linear-gradient(#1339A2, #1339A2) right bottom / 10px 100px,
		linear-gradient(#1339A2, #1339A2) bottom left / 100px 10px,
		linear-gradient(#1339A2, #1339A2) bottom left / 10px 100px,
		linear-gradient(#1339A2, #1339A2) top right / 100px 10px,
		linear-gradient(#1339A2, #1339A2) top right / 10px 100px;
	background-repeat: no-repeat;
}

#paymentContainer > h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#payOnlineBtn, #payOnsiteBtn{
    text-decoration: none;
}

#infoContainer {
    width: 80%;
    margin: 20% auto;
}

#tableContainer {
    overflow-y: scroll;
    max-height: 50vh;
}

/* Pay Online */
#onlineContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    background: lightgray;
	padding: 25px 25px 70px 25px;
	background:
        linear-gradient(#1339A2, #1339A2) top left / 100px 10px,
        linear-gradient(#1339A2, #1339A2) left top / 10px 100px,
        linear-gradient(#1339A2, #1339A2) bottom right / 100px 10px,
        linear-gradient(#1339A2, #1339A2) right bottom / 10px 100px,
		linear-gradient(#1339A2, #1339A2) bottom left / 100px 10px,
		linear-gradient(#1339A2, #1339A2) bottom left / 10px 100px,
		linear-gradient(#1339A2, #1339A2) top right / 100px 10px,
		linear-gradient(#1339A2, #1339A2) top right / 10px 100px;
	background-repeat: no-repeat;
}

#onlineContainer h1 {
    text-align: center;
    width: 100%;
    font-size: 2vw;
    margin-bottom: 1em;
}

#unionbank, #landbank, #gcash, #paymaya {
    text-align: center;
}

#unionbank {
    background: url('./assets/images/ublogo.jpeg');
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 12vh;
    margin-top: 1rem;
    cursor: pointer;
}
#landbank {
    background: url('./assets/images/landbanklogo.png');
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 7vh;
    margin-top: 3rem;
    cursor: pointer;
}
#gcash {
    background: url('./assets/images/gcashlogo.png');
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15vh;
    margin-top: 1rem;
    cursor: pointer;
}
#paymaya {
    background: url('./assets/images/paymayalogo.png');
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15vh;
    margin-top: 1rem;
    cursor: pointer;
}

.bankgrid {
    height: 15vh;
    margin-top: 1rem;
    cursor: pointer;
}

#simple-modal-title {
    text-align: center;
    margin-bottom: 2em;
}

.zoom {
    transition: transform .4s;
}

.zoom:hover {
    transform: scale(1.2);
}

/* Pay On-Site */
#onsiteContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: lightgray;
	padding: 0 25px 25px 25px;
	background:
        linear-gradient(#1339A2, #1339A2) top left / 100px 10px,
        linear-gradient(#1339A2, #1339A2) left top / 10px 100px,
        linear-gradient(#1339A2, #1339A2) bottom right / 100px 10px,
        linear-gradient(#1339A2, #1339A2) right bottom / 10px 100px,
		linear-gradient(#1339A2, #1339A2) bottom left / 100px 10px,
		linear-gradient(#1339A2, #1339A2) bottom left / 10px 100px,
		linear-gradient(#1339A2, #1339A2) top right / 100px 10px,
		linear-gradient(#1339A2, #1339A2) top right / 10px 100px;
	background-repeat: no-repeat;
}

#onsiteContainer h1 {
    text-align: center;
    width: 100%;
    font-size: 2vw;
    margin-top: 2rem;
}

#onsiteContainer ol > li {
    font-size: 1.5vw;
    line-height: 2em;
}

#btnContainer {
    margin: 0 auto;
}

#checkStatusBtn {
    background-color: #1339A2;
    color: #fff;
    display: block;
    margin: 0 auto;
}

/* STATUS */

#statusContainer {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    line-height: 3em;
    font-size: 1.3vw;
    background: lightgray;
	padding: 25px;
	background:
        linear-gradient(#1339A2, #1339A2) top left / 100px 10px,
        linear-gradient(#1339A2, #1339A2) left top / 10px 100px,
        linear-gradient(#1339A2, #1339A2) bottom right / 100px 10px,
        linear-gradient(#1339A2, #1339A2) right bottom / 10px 100px,
		linear-gradient(#1339A2, #1339A2) bottom left / 100px 10px,
		linear-gradient(#1339A2, #1339A2) bottom left / 10px 100px,
		linear-gradient(#1339A2, #1339A2) top right / 100px 10px,
		linear-gradient(#1339A2, #1339A2) top right / 10px 100px;
	background-repeat: no-repeat;
}
#paid {
    color: rgb(53, 223, 53);
}
#failed {
    color: rgb(221, 36, 36);
}
#pending {
    color: rgb(79, 161, 255);
}

/* Footer */
#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 20%;
    background-image: url('./assets/images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}